/* #mainDiv{
    border: 2px solid red;
} */

/* .mainDiv{
    border: 8px solid palevioletred;
}

.row{
    border: 10px solid rgb(124, 0, 128);
} */
/* 
.contentDiv {
  border: 4px solid blue;
} */
